.app {
  height: 100vh;
  background-color: aliceblue;
}

.main {
  padding-top: 50px;
  height: calc(100vh - 10vh);
  overflow-y: auto;
}

.header {
  height: 5vh;
  align-items: center;
}

.footer {
  height: 5vh;
  padding: 1.5vh;
  background: #1976d2;
  color: #fff;
}
